[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
socketio = "*"
python-socketio = "*"
fastapi-socketio = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
